  body {
                font-family: Arial, sans-serif;
                background-size: 300px;
                 background-color:#cabcbc40;
         }
            section {
                border: 5px solid #604808;
                background-color: white;
                width: 60%;
                margin: 90px auto;
                padding: 15px;
                text-align: center;
                
            }
          
            h1 {
                color: #604808;
                text-align: center;
                
            }
 ul{
              list-style: circle;
                
            }
        
            li{
                margin: 10px0;
                font-size: 16pt;
                text-align: left;
            }
            a{
                color: #082e4f;
                text-decoration: none;
                
                
               
            }
            a:hover{
                background:#bc8a5f;
            }
            
           footer {
     margin-top: 100px;
      background-color: #5a3825;
      color: white;
      text-align: center;
      padding: 15px;
    
    }
#feedback{
      color: white;
      border-bottom: dashed;
    
    
}
          
          
  