
*{
   margin: 0; 
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:#eee;
   
}

header{
    position: fixed;
    top:-1;
    left:0;
    width:100% ;
    padding:15px 5%;
    background-color:#eee;
    box-shadow: 0 2px 10px #0000001a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99; /*to make the header stays above*/
}

.logo{
   font-size: 25px;
    color:#714100;
    text-decoration: none;
    font-weight: 600;
}

#cart-icon{
    position: relative;
    display: flex;
    font-size: 30px;
    cursor: pointer;/*نبحث عنها  */
    
}


 .my-cart{
    position:absolute;
    top:-25px;
    right:-6px;
    width: 50px;    
    height: 50px; 
    padding:01px;
    
    
}


#cart-icon .count{
    position:absolute;
    top:-20px;
    right:-6px;
    width: 20px;
    height: 20px;
    background:#492408;
    color:white;
    border-radius: 100%;
    font-size: 12px;
    display:flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;  /* to hide the counter*/
}

.menu{
    padding:100px 9% 30px;
}
.title{
    font-size:35px;
    text-align: center;
    margin-bottom: 15px;
}

.product-content{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr)); /* to adjust columns automatically with minimum width280 & maxwidh 1fr  */
    gap:30px;
}

.img-box{
    display: flex;
    border-radius: 10px;
    overflow: hidden; /* to crop the unneeded part of img*/
}

.img-box img{
    width:100%;
    transition: 0.5s; /* a smooth effect*/
    
}

.img-box:hover img{
   transform: scale(1.1);  /* inlarge slightly  */
}
/*
.product-box{
display: none; }  /* to hide them in html & display them using array */ 



.product-name{
    font-size:20px;
    margin-top: 10px;
}

.price-and-cart{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    font-size: 18px;
    font-weight: 500;
}

.add-cart{
    border-radius: 05px;
    width: 25px;    
    height: 25px;
    cursor: pointer;
    background-color: #854e04;
}


.cart{
    position: fixed;
    top:0;
    right:-100%;
    width:360px;
    height: 100%;
    background-color:#eee;
    box-shadow: -2px 0 10px #0000001a;
    padding:65px 20px 40px;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
}

.cart.active {
    right: 0;
}



.cart-title{
    text-align: center;
    font-size: 30px;
}

.cart-box{
    display:flex;
    align-items: center;
    margin-top: 20px;
    
}

.cart-box .cart-img{
    width:100px;
    height:100px;
    border-radius: 6px;
    object-fit:cover;
    margin-right: 20px;
}

.cart-detail{
    
    display:grid;
    gap:8px;
    margin-right: auto;
}

.cart-product-title{
    font-size:16px;
    line-height: 1;
}

.cart-price{
    font-weight: 500;
}

.cart-quantity{
    display:flex;
    width:100px;
    border:1px solid #854e04;
    border-radius: 6px;
}

.cart-quantity button{
    background: transparent;
    width:30px;
    border:none;
    font-size: 20px;
    cursor: pointer;
}

.cart-quantity #decrement{
    color:#492408;
}

.cart-quantity .number{
    display:flex;
    justify-content: center;
    align-items: center;
    width:40px;
    border-left:1px solid #492408;
    border-right:1px solid #492408;
    cursor:default;
    
}

.cart-box .delete-icon{
    width:20px;
    height:20px;
    
    object-fit:cover;
    
}

.total{
    display: flex;
    justify-content: flex-end;
    align-items:center;
    border-top:1px solid #333;
    margin-top: 20px;
    font-size: 18px;
    
}
.cart-quantity #increment{
    color:#492408;
    
}
.total-price{
    margin-left: 10px;
    font-weight: 600;
}

.btn-buy{
    display:block;
    padding: 10px 30px;
    background: #854e04;
    border:none;
    border-radius: 6px;
    font-size: 16px;
    color:#fff;
    margin:20px auto 0;
    cursor:pointer; 
}

#cart-close{
    position: absolute;
    top:20px;
    right:15px;
    font-size:35px;
    cursor:pointer;
     width:20px;
    height:20px;
    
}



